@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.footer_container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "PT Sans", sans-serif;

  .footer_logo {
    width: 40px;
    height: 40px;
  }

  .footer_brand_text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: $main-yellow;

    .footer_list {
      display: flex;
      list-style-type: none;

      .footer_list li {
        margin-left: 4px;
      }
    }
  }
  .footer_link {
    color: $main-yellow;
  }
}
