@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import "./variables";

body {
  background-color: black;
  font-family: "PT Sans", sans-serif;

  .main-homepage-conteneur {
    padding-top: 90px;
  }
  .homepage2-main-triple-conteneur {
    display: flex;
    justify-content: space-between;
  }

  .conteneur-image-logo-home {
    background-color: yellow;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 80px;
  }
  .logo-front-moto {
    width: 100px;
    height: 100px;
    margin: 50px;
  }
  .logo-vintage-moto {
    width: 200px;
    height: 180px;
    margin: 10px;
  }
  .moto-api-title {
    font-size: 50px;
    font-style: italic;
  }

  h1 {
    color: white;
  }
  .lab-categories-chek {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .small-img-categorie-chek {
      margin-right: 5%;
      margin-top: 10%;
    }
  }
}
.connexion-inscription-homepage {
  color: #000000;
  background-color: yellow;
  margin: 80px;
  padding: 10px;
  border-radius: 30px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 700px) {
  .logo-vintage-moto {
    display: none;
  }
  .moto-api-title {
    display: none;
  }
  .homepage2-main-triple-conteneur {
    flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
}
