@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import "./variables";

.video-grid {
  .video-wrapper {
    height: 300px;
    margin-top: 10%;
    margin-bottom: 10%;
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.05);
      border-radius: 5px;
      box-shadow: 0 0 80px rgba(244, 251, 255, 0.5);
      z-index: 3;
    }
  }

  .video-content {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }
  }
}

.search-bar-profil {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 50px;
  flex-direction: column;

  .entree-text-search {
    font-size: 20px;
    margin-left: 2%;
    padding: 5px;
    border-radius: 15px;
  }
}

.main-div-profil-video {
  color: white;
  margin-bottom: 200px;
  margin-left: 50px;
  margin-right: 50px;
}

.title-videos-favorites {
  margin-top: 4%;
  margin-left: 3%;
  margin-bottom: 4%;

  h2 {
    text-align: center;
    margin-left: 4%;
    margin-top: 3%;
  }
}
.selection-des-categories {
  display: flex;
  flex-direction: column;
}

.voir-plus-fav-video {
  color: $main-blue;
}

// @media (max-width: 700px) {
//   .articles-afficher-actu {
//     display: none;
//   }
//   .selection-des-categories {
//     display: none;
//   }
// }
